body {
  font-family: 'raleway', 'helvetica neue', sans-serif;
  font-weight: 300;
  background: url(white-background-04.jpg) repeat;
  background-attachment: fixed;
  height: 100%;
}
h3 {
	color: #888888;
}
#sl {
	width: 150px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#copyright {
	color: #999999;
	margin-left: 15px;
}
.navbar-brand {
	background: url(photos/009.jpg) repeat;
	font-weight: bold;
	color: #FFFFFF;
}
#bol {
	font-weight: bold;
}
#footprints {
	color: #FFFFFF;
	font-weight: bold;
}
.jumbotron {
	margin-bottom: 0px;
}
.albumimg {
	width: 100%;
	border: 3px ridge white;
}
#foot {
  margin: 0 auto -1px;
  padding: 0 0 1px;
}