body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(white-background-04.jpg) repeat;
  background-attachment: fixed;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h3 {
	color: #888888;
}
#adele {
	background-color:#CCCCCC;
	font-family: 'helvetica', arial, sans-serif;
	color: #0000FF;
}
#spencer {
	letter-spacing: 3px;
	color:#339999;
	text-align: left;
}
.link {
	color:#339999;
}
#profile {
	border: 5px solid black;
	width: 20%;
}